.alhassannav{
    background-image: url(../images/Alhassan.JPG);
    height: 1000px;
}

.alhassannav
.navbar{
    background-color: transparent !important; 
}

.navbar .navbar-brand{
    color: rgb(6, 106, 106);
    font-weight: bolder;
    font-size: 2em;
}

.navbar-nav{
    margin: 0 auto;
    color: white !important;
}

.nav-item{
    background-color: rgb(6, 106, 106);
}

nav a{
    color: white !important;
}

.jumbotron {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
    font: inherit;
}

.container {
    background-color: rgb(6, 106, 106);
    padding: 0 0 !important;
    /* max-width: 1100px; 
    margin: 0 auto; */
   
}

#about-me .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
    min-height: 50vh;
    
}

.btn {
    background-color: transparent !important;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}