body{
background: url(../images/Alhassan.JPG) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    
}

.navbar{
    background-color: transparent !important; 
}

.navbar .navbar-brand{
    color: rgb(6, 106, 106);
    font-weight: bolder;
    font-size: 2em;
}

.navbar-nav{
    margin: 0 auto;
    color: white !important;
}

.nav-item{
    background-color: rgb(6, 106, 106);
}

nav a{
    color: white !important;
}

.jumbotron {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
    font: inherit;
}

.container {
    background-color: rgb(6, 106, 106);
    padding: 0 0 !important;
    /* max-width: 1100px; 
    margin: 0 auto; */
   
}

#about-me .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
    min-height: 50vh;
    
}

.btn {
    background-color: transparent !important;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

#featured-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.col-sm {
    background: var(--light-clr);
    border-radius: 5px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 60%);
    padding-top: 1rem;
    transition: 0.3s;
}

h2 h6 {
    font-size: 2.5rem;
    font-family: var(--header-font-family);
    margin-bottom: 1rem;
    text-align: center;
}

#contact-me .list-group {
    background-color:rgb(6, 106, 106);;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2rem;
    margin-top: 5rem;
    min-height: 50vh;
}
